<div class="login">
  <div class="resizeimage">
    <%= image_tag '/irochi_log.png' %>	  
  </div>

  <div class="actions">
      <%= link_to image_tag('/sign-in-with-twitter-gray.png'), user_twitter_omniauth_authorize_path  %>
  </div>
</div>
